.main {
    display: flex
}
body {
    display: flex;
    flex-direction: column;
    background-color:antiquewhite;
}
.headingOne {
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    position: sticky;
    text-align: center;
}
.introOne {
    color: rgb(60, 48, 48);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    position: sticky;
    text-align: center;
    text-decoration: underline;
}
hr.solid {
    border-top: 1px solid black;
    position: sticky;
}
.firstParagraph {
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: smaller;
    text-align: center
}
.secondParagraph {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
div.gallery {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 128;
    background-color: rgb(241, 231, 219);
    

  }
  
  div.gallery:hover {
    border: 1px solid fuchsia;
  }
  
  div.gallery img {
    width: 128;
    height: 133;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

div.school {
    text-orientation: left;
}
img:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

div.biggallery {
    float:center;
    display: flex
}
div.nextthing {
    text-orientation: right;  
}
div.align {
float: left
}

.image1 {
    min-height: 100vh;
    width: 100%;
    background-image: url(./piccies/paul-tune-beX9TcypcR8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.image2 {
    min-height: 100vh;
    width: 100%;
    background-image: url(./piccies/fer-nando-UMC5sfWci78-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.image3 {
    min-height: 100vh;
    width: 100%;
    background-image: url(./piccies/gary-bendig-WPmPsdX2ySw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.mainParagraph{
    background: antiquewhite;
    border-radius: 10px;    
    color: #000;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 170px;
    padding-bottom: 170px;
}
.secondParagraph{
    background: antiquewhite;
    border-radius: 10px;    
    color: #000;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 170px;
    padding-bottom: 170px;
}

.school{
    background: antiquewhite;
    border-radius: 10px;    
    color: #000;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 170px;
    padding-bottom: 170px;
}
